page-login {
.alignlogin{
    margin-top: 10%;
}

.img__portada {
  width: 65%;
  height: 65%;
}

.background{
  background: url('assets/img/fondoL.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.login-content{
  background: url('../assets/img/fondoL.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logo{
  margin-left: 20%;
  margin-top: 20%;
  width: 65%;
  height: 65%;
}
}
