
body {

    width: 100%;
    /*height: 400px;*/
    background-image: url('..//../img/login.jpg');
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;

}
h3{
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

}
.title{
  font-size: 36px;
  color: #042c4e;
  font-style: normal;
  font-family: monospace;
  text-aling:center;


}
.developers{
  color: #fff;
  font-family: monospace;
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper {
  margin-top: auto;;
  /*margin-bottom: 80px;*/
}
.logo{
    /*position: absolute;*/
    margin: 11 auto;
    right: 525px;
    max-width: 329px;
    height: 250px;
    background-image: url(..//../img/medicalmaster.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 1px;
    background-size: contain;
    /*background-color: #000;*/

}
.form-signin {
  max-width: 437px;
  padding: 15px 27px 24px;
  margin: -6 auto;
  /*background-image:url("..//../img/medicalmaster3.png");*/
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.73);
      -webkit-box-shadow: 14px 5px 43px 3px rgba(0,0,0,0.83);
      -moz-box-shadow: 14px 5px 43px 3px rgba(0,0,0,0.83);
      box-shadow: 14px 5px 43px 3px rgba(0,0,0,0.83);
      -webkit-border-top-left-radius: 45px;
      -webkit-border-top-right-radius: 12px;
      -webkit-border-bottom-right-radius: 73px;
      -webkit-border-bottom-left-radius: 12px;
      -moz-border-radius-topleft: 45px;
      -moz-border-radius-topright: 12px;
      -moz-border-radius-bottomright: 73px;
      -moz-border-radius-bottomleft: 12px;
      border-top-left-radius: 45px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 73px;
      border-bottom-left-radius: 12px;
      .form-signin-heading,
      .checkbox {
        margin-bottom: 30px;
      }
      .checkbox {
    font-weight: normal;
    }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  @include box-sizing(border-box) &:focus {
  z-index: 2;
  }
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


}
.zoom {
    font-size: 15px;
    font-family: monospace;
    /*width: 300px;*/

    /* Firefox */
    -moz-transition: font-size 300ms linear 0s;
    /* Chrome / Safari */
    -webkit-transition: font-size 300ms linear 0s;
    /* Opera */
    -o-transition: font-size 300ms linear 0s;
    /* Default */
    transition: font-size 300ms linear 0s;
}
#footer-zone {
  height: 50px;
  background:rgba(0, 0, 0, 0.8);
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}
