<style>
p {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-align : justify;

}
a.nounderline:link
{
 text-decoration:none;
}
table, thead,th, td {
		font-size: 18px;

}
th{
    padding: 5px;
    text-align: left;
		color: black;
    background-color: #16c8e6;
		text-decoration: none;
		border: #ddd 1px solid;

}
td {
    padding: 5px;
    text-align: left;
		border: #ddd 1px solid;

}

table#cabezera {
    width: 80%;
		text-align: center;
		border-collapse: separate;
		text-decoration: none;

}
th.cabezera{
	padding: 2px;
	background-color: #ffffff;
	border: white 1px solid;
}
tr.cabezera {
    padding: 2px;
		border: white 1px solid;
}
h3{
	background:#fff;
	color: #000;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;;
	font-size: 180%;


}
table#datos {
    width: 100%;
		text-align: center;
		border-collapse: collapse;
		border: 1px solid #ddd;
		text-decoration: none;
}

membrete{
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}
.fecha{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
img{
	width: 210px;
	height: 150px;
}
</style>
